/* static/styles.css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    /* margin: 20px; */
}

h1 {
    color: #333;
    margin-top: 10px;
    
    /* font-size: x-large; */
}

form {
    /* /* margin-top: 20px; */
     /* margin-top: 10px; */
     display: flex;
     flex-direction: column;
     justify-content: center;
     width: 70vw;
     margin-left: 70px;
     border-radius: 0.75rem;
     height: 50vh;
     background-color: #333;
     align-items: center;
}

label {
    display: flex;
    /* border: 2px solid white; */
    width: 20vw;
    height: 4vh;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 0.75rem;
    margin-bottom: 5px;
}

input{
    display: flex;
    width: 20vw;
    height: 6vh;
    justify-content: center;
    align-items: center;
    color: black;
    border-radius: 0.75rem;
    
}
   


button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.75rem;
    width: 10vw;
    height: 6vh;
    background-color: #4285f4;
    color: #fff;
    border: none;
    cursor: pointer;
}
/* #nidhi{
    display: flex;
    width: 20vw;
    height: 10vh;
    border: 2px solid rebeccapurple;
    background-color: black;
    color: white;
} */
button:hover {
    background-color: rgb(33, 168, 157);
    color: black;
}

h2 {
    color: #333;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
}